@import "~antd/lib/style/themes/default.less";

.content {
  margin: -12px 24px 24px;
}

.extraImg {
  height: 100%;
  width: 100%;
  position: relative;
  img {
    position: absolute;
    bottom: -15px;
    right: 0;
    width: 100%;
  }
}

.ant-list-grid {
  .ant-list-item {
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    .ant-list-item-content {
      display: block;
      color: rgba(0, 0, 0, 0.65);
      font-size: 14px;
      margin-bottom: 0;
    }
  }
}

.ant-form-item {
  display: flex;
  text-align: right;
  margin: 0;
  height: 30px;
}

.ant-form-item-label {
  overflow: visible;
}

@media screen and (max-width: @screen-md) {
  .extraImg {
    display: none;
  }
}